.titulo{
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.img-h{
    height: 200px;
    width: 300px;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  border-radius: 5%;
}

.sabor {
  background: #fbcf34;
  background-image: linear-gradient(to bottom, #fbcf34, #E69553);
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
  color: black;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  width: 150px;
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
}
.container-sabor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.agregar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.mi-carrito {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  justify-content: center;
  
  margin-left: auto;
  margin-right: auto;
}
.container-title{
  
  display: flex;
  justify-content: space-between;
  border: solid 2px black;
  padding: 3px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #fbcf34, #E69553);
  
}
.title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  text-shadow: 3px 2px 1px #0f101680;
}
.carrito-item {
  
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: solid 2px rgba(0, 0, 0, 0.61);
  border-radius: 5px;
  background-color: #fbcf34;
  background-image: linear-gradient(to bottom, #fbcf34, #E69553);
}
.cantidad{
  justify-content: center;
  text-align: center;
  padding: 3px;
  max-width: 40px;
  background-color: #fbcf34;
  border: solid 2px #a1810a;
  border-radius: 100%;
  min-width: 30px;
  /* box-shadow: 6px 5px 24px #666666; */
}
.producto{
  padding: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  
}
.contador {
  /* width: 50%; */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.menos, .mas{
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .mi-carrito {
      flex-direction: column;
      width: 100%;
  }
}