.container {
    display: grid;
    grid-template: 90% 10% / 75% auto;
    grid-template-areas: "main sidebar"
                         "footer footer";
    gap: 1%;
    height: calc(100vh - 90px);
    
}

.main   {grid-area: main; background-color: orange;}
.sidebar {grid-area: sidebar; background-color: blue;}
.footer {grid-area: footer; background-color: violet;}

